* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font: 700 1.8rem 'Ubuntu Mono', monospace;
  line-height: 2.5rem;
}

p {
  width: 100vw;
}

a {
  text-decoration: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

a:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.page {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  text-align: center;
}

.blue {
  background: linear-gradient(140deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: #fff;
}

.white {
  background: #fff;
  color: #000;
}

.white a {
  color: #000;
}

.purple {
  background: linear-gradient(140deg, #8756d6, #230c54);
  color: #fff;
}

.purple a {
  text-decoration: none;
  display: inline-flex;
}

.multiple {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.email {
  width: 100%;
}

.icon {
  height: 60px;
  opacity: 0.8;
}

.icon:hover {
  opacity: 1;
}

.image-link, .image-link:hover {
  border: none;
}

@media only screen and (min-width: 500px) {
  body {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 2.5rem;
    line-height: 3.3rem;
  }

  .page {
    padding: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 3rem;
    line-height: 4rem;
  }

  .page {
    padding: 4rem;
  }

  .icon {
    height: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 3.8rem;
    line-height: 5.4rem;
  }

  .page {
    padding: 5rem;
  }

  .icon {
    height: 100px;
  }
}
